.movieDetailsWrapper {
  margin-top: 10px;
}

/* additional information nav */

.filmDetailsNav {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 2px 2px 2px rgb(194, 194, 194);
}
