.searchFormWrapper {
  margin-top: 10px;
  padding: 10px;
}

.input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid grey;
}

.input:focus {
  box-shadow: 2px 2px 2px grey;
  outline: none;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid rgb(202, 202, 202);
  border-left: 1px solid rgb(202, 202, 202);
}

/* .submitBtn {
  padding: 9px;
  border-radius: 3px;
  outline: none;
  color: rgb(255, 242, 217);
  background-color: rgb(139, 104, 139);
  border-color: transparent;
}

.submitBtn:hover {
  color: rgb(1, 44, 44);
  box-shadow: 1px 1px 3px rgb(78, 59, 78);
} */
