/* NavBar */

.navList {
  list-style: none;
  padding: 0;
}

.item {
  display: inline-block;
}

.link {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.activeLink {
  color: red;
  box-shadow: 2px 2px 2px grey;
}

.item + .item {
  margin-left: 10px;
}
